Qt/InstaDam/InstaDam.pro.user
Qt/ImageFiles/
Qt/build-InstaDam-Desktop_Qt_5_12_0_MinGW_64_bit-Debug
Qt/build-InstaDam-Desktop_Qt_5_11_0_MinGW_32bit-Debug
Qt/build-InstaDam-Desktop_Qt_5_11_0_MinGW_32bit-Release
*.idpro
*.idam