Qt/InstaDam/InstaDam.pro.user
Qt/ImageFiles/
Qt/build-InstaDam-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/
Qt/build-InstaDam-Desktop_Qt_5_11_0_MinGW_32bit-Debug/
Qt/build-InstaDam-Desktop_Qt_5_11_3_MinGW_32bit-Debug/
Qt/build-InstaDam-Desktop_Qt_5_11_3_MinGW_32bit-Release/
Qt/build-InstaDam-Desktop_Qt_5_11_3_MinGW_32bit-Release/
*.idpro
*.idam
Qt/build-InstaDam-Desktop_Qt_5_11_-_MinGW_32bit-Profile
*.o
.*
moc_*
*.user
Makefile
Qt/InstaDam/Selector/Selector
*.info
*.gcno
Qt/InstaDam/Selector/Test/html
*.autosave
Qt/InstaDam/InstaDam
Qt/InstaDam/ui_*.h
Qt/build-InstaDam-Desktop-Debug/

Qt/InstaDam/app/instadam\.js_plugin_import\.cpp

Qt/InstaDam/app/InstaDam

Qt/InstaDam/app/qtlogo\.svg

Qt/InstaDam/app/ui_instadam\.h

Qt/InstaDam/app/ui_newproject\.h

*.a

Qt/InstaDam/InstaDam\.html

Qt/InstaDam/InstaDam\.js

*.wasm

Qt/InstaDam/qtloader\.js

Qt/InstaDam/qtlogo\.svg

Qt/InstaDam/Selector/main\.cpp

Qt/InstaDam/Selector/mainwindow\.cpp

Qt/InstaDam/Selector/mainwindow\.h


*.so

Qt/InstaDam/libselector\.so\.1

Qt/InstaDam/libselector\.so\.1\.0

Qt/InstaDam/libselector\.so\.1\.0\.0

Qt/InstaDam/Selector/SelectorStandAlone\.pro

Qt/InstaDam/Selector/SelectorStandAlone

*.gcda

Qt/InstaDam/Selector/Test/SelectorTest

Qt/InstaDam/im2_L1\.png

Qt/InstaDam/im2_L22\.png

Qt/InstaDam/L1\.png

Qt/InstaDam/L22\.png

Qt/InstaDam/html/

*.1

*.0

*.pc

Qt/InstaDam/libquazip\.prl

Qt/InstaDam/im2_idpro\.zip

Qt/InstaDam/im2\.JPG_idpro\.zip

Qt/InstaDam/im2\.JPG_L1\.png

Qt/InstaDam/im2\.JPG_L22\.png


Qt/InstaDam/im2\.JPG_asdf\.png

Qt/InstaDam/annotations/

Qt/InstaDam/Selector/html/

Qt/InstaDam/instadam-cppcheck-build-dir/

Qt/InstaDam/Selector/doc\.old/

Qt/InstaDam/Test/html/

Qt/InstaDam/Test/appTest/appTest

Qt/InstaDam/Test/libquazip\.prl

Qt/InstaDam/Test/app/app

Qt/InstaDam/Test/integration/integration

Qt/InstaDam/Test/integration_test_build/

Qt/InstaDam/Test/_idpro\.zip

Qt/InstaDam/CMakeFiles/

Qt/InstaDam/quazip/CMakeFiles/

Qt/InstaDam/quazip/cmake_install\.cmake

Qt/InstaDam/Selector/CMakeFiles/

Qt/InstaDam/Selector/cmake_install\.cmake

Qt/InstaDam/cmake_install\.cmake

Qt/InstaDam/CMakeCache\.txt

Qt/InstaDam/quazip/Makefile\.Debug

Qt/InstaDam/quazip/Makefile\.Release

Qt/InstaDam/app/ui_addusertoproject\.h

Qt/InstaDam/app/ui_blankFrame\.h

Qt/InstaDam/app/ui_freeSelect\.h

Qt/InstaDam/app/ui_imagelist\.h

Qt/InstaDam/app/ui_login\.h

Qt/InstaDam/app/ui_labeldialog\.h

Qt/InstaDam/app/ui_serverprojectname\.h

Qt/InstaDam/app/ui_startingwidget\.h

Qt/InstaDam/app/ui_polygonSelect\.h

Qt/InstaDam/app/ui_projectDialog\.h

Qt/InstaDam/app/ui_projectlist\.h

Qt/InstaDam/app/ui_register\.h

Qt/InstaDam/app/ui_userprivilege\.h

Qt/InstaDam/im2\.JPG_ggbsd\.png

*.mem

Qt/InstaDam/instadam_doc\.pdf
